authorization-matrix.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="authorization-matrix">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="roles">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded" name="role">
                                <xsd:complexType>
                                    <xsd:attribute name="name">
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:enumeration value="ANONYMOUS"/>
                                                <xsd:enumeration value="ADMIN"/>
                                                <xsd:enumeration value="BASIC"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:attribute>
                                    <xsd:attribute name="description" type="xsd:string"/>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="services">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded" name="service">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="role" maxOccurs="unbounded">
                                            <xsd:complexType>
                                                <xsd:attribute name="name">
                                                    <xsd:simpleType>
                                                        <xsd:restriction base="xsd:string">
                                                            <xsd:enumeration value="ANONYMOUS"/>
                                                            <xsd:enumeration value="ADMIN"/>
                                                            <xsd:enumeration value="BASIC"/>
                                                        </xsd:restriction>
                                                    </xsd:simpleType>
                                                </xsd:attribute>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                    <xsd:attribute name="name" type="xsd:string"/>
                                    <xsd:attribute name="uri" type="xsd:string"/>
                                    <xsd:attribute name="http-method" type="xsd:string"/>
                                    <xsd:attribute name="http-response-code-for-access-allowed" type="xsd:int"/>
                                    <xsd:attribute name="http-response-code-for-access-denied" type="xsd:int"/>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="services-testing">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded" name="service">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="payload">
                                            <xsd:complexType>
                                                <xsd:simpleContent>
                                                    <xsd:extension base="xsd:string">
                                                        <xsd:attribute type="xsd:string" name="content-type" use="optional"/>
                                                    </xsd:extension>
                                                </xsd:simpleContent>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                    <xsd:attribute name="name">
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:enumeration value="ANONYMOUS"/>
                                                <xsd:enumeration value="ADMIN"/>
                                                <xsd:enumeration value="BASIC"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>